html {
    margin: 40px auto  ;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: lavenderblush;
    padding: 0 10px;
    background: #333;
    text-align: center;
}
 h1,h2,h3 {
     line-height: 1.2;
     
}
section{
    margin:  auto  ;
    background: #444;
    height: inherit;
    max-width: 420px;
    transition: max-width .5s;
    
    
}
section:hover{
    max-width: 650px;
    
}
div.sectionbody{
display :none;
}
#work{}
#about{}
#contact{}